<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=.;User ID=sa;Password=111111;Initial Catalog=Demo2;Pooling=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="no11masterpiece@163.com">
        <network host="smtp.163.com" password="zhb24178" userName="no11masterpiece@163.com" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>