<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <appSettings>
    <!-- 开启内部调试 比如, 配置好了日志记录到数据库（Mysql、Oracle、Sql Server）等, 但就是记录不上, 又找不到原因时, 可以查看这个log排查原因 -->
    <add key="log4net.Internal.Debug" value="true"/>
  </appSettings>

  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="Log/log4net.Internal.Debug.log" />
      </listeners>
    </trace>
  </system.diagnostics>

  <log4net>





    <!-- 按照日志容量分割文件 10KB 1个 -->
    <appender name="LogFileAppenderBySize" type="log4net.Appender.RollingFileAppender" LEVEL="ERROR">

      <!--是否续写-->
      <param name="AppendToFile" value="true" />
      <!--最小锁定模型以允许多个进程可以写入同一个文件 在使用RollingFileAppender的方式不支持多进程同時写一個日志文件; 使用FileAppender才可以 -->
      <!--<param name="LockingModel" value="log4net.Appender.FileAppender.MinimalLock" />-->


      <!--按照文件的大小进行变换日志文件-->
      <param name="RollingStyle" value="Size" />
      <!--生成 log.txt, log.txt.1, log.txt.2-->
      <param name="File" value="Log/errorlog.txt" />


      <!--单个文件最大数量 好像只有在 按Size分割时有效-->
      <param name="MaximumFileSize" value="10240KB"/>
      <!--保留的log文件数量 超过此数量后 自动删除之前的   好像只有在 按Size分割时有效-->
      <param name="MaxSizeRollBackups" value="10" />

      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%newline
---- Start --------------------------------------------%newline
AppDomain: %appdomain %newline
Logger: %logger %newline
File: %file %newline
Line: %line %newline
Identity: %identity %newline
UserName: %username %newline
DateTime: %date{yyyy-MM-dd HH:mm:ss.fff} %newline
RunTime: %timestamp(ms) %newline
Message: %message %newline
Exception: %exception %newline
%newline
---- end --------------------------------------------%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ERROR" />
        <param name="LevelMax" value="ERROR" />
      </filter>
    </appender>

    <appender name="InfoRollingFileAppender" type="log4net.Appender.RollingFileAppender" LEVEL="INFO">
      <file value="Log/infolog.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10240KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline
---- Start --------------------------------------------%newline
日期： %date %newline
类型：[%logger]  %newline
接收参数：%newline %message %newline
---- end --------------------------------------------%newline
" />

      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="INFO" />
        <param name="LevelMax" value="INFO" />
      </filter>
    </appender>


    <root>
      <!-- 配置日志的级别，低于此级别的就不写到日志里面去 OFF、FATAL、ERROR, WARN, INFO, DEBUG, ALL -->
      <level value="DEBUG" />
      <appender-ref ref="LogFileAppenderBySize" />
      <appender-ref ref="InfoRollingFileAppender" />
    </root>

  </log4net>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>