<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=.;User ID=sa;Password=111111;Initial Catalog=Demo2;Pooling=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="Rennbon@126.com">
        <network host="smtp.126.com" password="mmftaqcvukahmulc" userName="Rennbon@126.com" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>